{% load metron_tags cms_tags sekizai_tags menu_tags i18n staticfiles static thumbnail %}

<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">

    {# Title #}
    <title>{% page_attribute "page_title" %}</title>

    {# Meta description #}
    <meta name="description" content="{% page_attribute "meta_description" %}"/>

    {# Viewport #}
    <meta name="viewport" content="width=device-width,initial-scale=1"/>

{#    Favicons #}
{#    <link rel="shortcut icon" href="{% static 'img/favicon.ico' %}">#}
{#    <link rel="apple-touch-icon" href="{% static 'img/touch-icon-iphone.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="76x76" href="{% static 'img/touch-icon-ipad.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="120x120" href="{% static 'img/touch-icon-iphone-retina.png' %}">#}
{#    <link rel="apple-touch-icon" sizes="152x152" href="{% static 'img/touch-icon-ipad-retina.png' %}">#}

{#    Fonts #}
{#    <link href='http://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700|Raleway&subset=latin,latin-ext'#}
{#          rel='stylesheet' type='text/css'>#}

    {# Styles #}
    {% block extra_style %}{% endblock extra_style %}
    {% render_block "css" %}
</head>
<body>
{% cms_toolbar %}

<ul>
    {% show_menu 0 100 0 100 %}
</ul>

{% block base_content %}{% endblock base_content %}

<footer>
    <h1>Footer</h1>
</footer>

{#Scripts #}
{#<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>#}
{#<script type="text/javascript" src="{% static 'js/bootstrap.js' %}"></script>#}

{#<script>#}
{#  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){#}
{#  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),#}
{#  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)#}
{#  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');#}
{##}
{#  ga('create', 'UA-XXXXXXXX-X', 'website.com');#}
{#  ga('send', 'pageview');#}
{#</script>#}

{% block extra_script %}{% endblock extra_script %}
{% render_block 'js' %}
</body>
</html>
