{% load menu_tags static %}


<nav class="navbar navbar-default">
    <div class="container">

        <div class="navbar-header">
            <a class="" href="/"><img src="{{ MEDIA_URL }}logo.png" alt="Logo" class="img-responsive"/></a>
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-menu">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>


        <div class="collapse navbar-collapse" id="main-menu">
            <ul class="nav navbar-nav navbar-right">
                {% for child in children %}
                    <li class=" child {% if child.selected %}{% if 'detail' in request.get_full_path %} noactive {% else %} active {% endif %}{% endif %}{% if child.ancestor %} ancestor{% endif %}{% if child.sibling %} sibling{% endif %}{% if child.descendant %} descendant{% endif %}">
                        <a class="dropdown-toggle"
                           href="{{ child.attr.redirect_url|default:child.get_absolute_url }}"><span>{{ child.get_menu_title }}</span></a>
                        {% if child.children %}
                            <ul>
                                {% show_menu from_level to_level extra_inactive extra_active template "" "" child %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>

        </div>

    </div>
</nav>

